/** Fonts **/
@font-face {
  font-family: 'Pixelmix';
  src: url('../fonts/pixelmix.ttf');
}
@font-face {
  font-family: 'PixelmixBold';
  src: url('../fonts/pixelmix_bold.ttf');
}

/** Reset & core **/
*, *:after, *:before {
  box-sizing: border-box;
  // Disable text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Show default cursor to avoid it looking like text is seelctable
  cursor: default;
}
html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}
img {
  border: 0;
}
.hide {
  display: none;
}

/** Typography **/
body {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: Pixelmix, monospace;
  font-size: 6pt * 2;
}
h1, h2, h3, h4, h5, b, strong {
  font-family: PixelmixBold, Pixelmix, monospace;
  font-weight: normal;
}
h1 {
  font-size: 6pt * 4;
}
h2 {
  font-size: 6pt * 3;
}
h3 {
  font-size: 6pt * 2;
}

/** Canvas **/
canvas {
  /** We want nearest neighbor stretching (pixelated) for all canvas elements **/
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
#game, #hud {
  $width: 640px * 2;
  $height: 400px * 2;

  position: fixed;
  width: $width;
  height: $height;
  top: 50%;
  left: 50%;
  margin-top: -($height / 2);
  margin-left: -($width / 2);
  z-index: 100;
}
#hud {
  // #hud is an exact overlay of the game canvas
  display: none;
  z-index: 200;
  padding: 15px;
  text-align: left;
}

/** Boot logo **/
#burningtomato {
  $height: 455px;
  height: $height;
  top: 50%;
  margin-top: -($height / 2) - 50;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}

/** Debug **/
#fps {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

/** Dialogue **/
.dialogue {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  width: 600px;
  height: 200px;
  border-radius: 15px;
  z-index: 999999;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  bottom: 100px;
  left: 50%;
  margin-left: -300px;
  font-size: 6pt * 3;
  text-align: left;
  padding: 0 25px;

  span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  .next {
    display: block;
    color: #fff;
    border: 1px solid #ccc;
    font-size: 6pt * 2;
    padding: 2px;
    text-align: center;
    width: 100px;
    border-radius: 2px;
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

/** Heartbeat animation **/
$heartbeat-color: #e87;
$heartbeat-size: 36px; // must be divisible by 2 and 3
$heartbeat-rotation: rotate(45deg);

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content }
  @-moz-keyframes #{$name} { @content }
  @-o-keyframes #{$name} { @content }
  @keyframes #{$name} { @content }
}

@mixin experimental($property, $value, $moz: true, $webkit: true, $o: true, $ms: true, $khtml: true, $official: true) {
  @if $webkit   { -webkit-#{$property} : $value; }
  @if $khtml    {  -khtml-#{$property} : $value; }
  @if $moz      {    -moz-#{$property} : $value; }
  @if $ms       {     -ms-#{$property} : $value; }
  @if $o        {      -o-#{$property} : $value; }
  @if $official {         #{$property} : $value; }
}

@mixin animation($value) {
  @include experimental(animation, $value);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@include keyframes(heartbeat) {
  0%  { @include transform(scale(1));   }
  14% { @include transform(scale(1.2)); }
  28% { @include transform(scale(1));   }
  42% { @include transform(scale(1.2)); }
  70% { @include transform(scale(1));   }
}

#health {
  position: absolute;
  top: 15px;
  left: 15px;

  img {
    float: left;
    margin: 0;
    padding: 0;
  }

  img.last:not(.empty) {
    @include animation(heartbeat 2000ms ease 0s infinite normal);
  }
}

#coins {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 24px;

  img {
    vertical-align: -7px;
  }
}